.mtp-container
  .mtp-wrapper(data-ng-class='{"closed": mtp.Status.toLowerCase() == "closed","not-soon": mtp.Status.toLowerCase() == "open" && mtp.Mtp >= 9,"kinda-soon": mtp.Status.toLowerCase() == "open" && mtp.Mtp >= 7 && mtp.Mtp <= 8,"fairly-soon": mtp.Status.toLowerCase() == "open" && mtp.Mtp >= 5 && mtp.Mtp <= 7,"soon": mtp.Status.toLowerCase() == "open" && mtp.Mtp >= 3 && mtp.Mtp <= 4,"very-soon": mtp.Status.toLowerCase() == "open" && mtp.Mtp >= 1 && mtp.Mtp <= 2,"now": mtp.Status.toLowerCase() == "open" && mtp.Mtp == 0 && mtp.RaceStatus.toLowerCase() != "off","off": mtp.Status.toLowerCase() == "open" && mtp.Mtp == 0 && mtp.RaceStatus.toLowerCase() == "off"}')
    span(data-ng-bind='mtp | mtpText')
    i.fa.fa-lock.pad-left-5(data-ng-show='mtp.Mtp == 0 && mtp.RaceStatus.toLowerCase() == "off"')
