md-toolbar(layout='row')
  .md-toolbar-tools
    .title
      md-button(href='/')
        .float-left(style='height:25px;width:30px;').position-relative
          img(src='//33.media.tumblr.com/avatar_154b6d113290_128.png').logo
        .float-left #{title}
        .clearfix
    span(flex)
    - if (!user)
      md-button(href='/admin', aria-label='Log In') Log In
    - else
      md-button(href='/logout', aria-label='Log Out') Log Out

