md-toolbar(layout='row')
  .md-toolbar-tools
    .title
      md-button(href='/')
        .float-left(style='height:25px;width:30px;').position-relative
          img(src='//33.media.tumblr.com/avatar_154b6d113290_128.png').logo
        .float-left.hide-xs #{title}
        .clearfix
    span(flex)
    - if (!user)
      md-button(href='/admin', aria-label='Log In') Log In
    - else
      span.welcome Hi #{user.givenName}
      span &nbsp;&nbsp;
      a.md-link(href='/bookmark', target='_bookmark', title='Help').no-underline
        i.fa.fa-question
      span &nbsp;&nbsp;
      a.md-link(href='/logout', title='Log Out').no-underline
        i.fa.fa-sign-out

