body
  font-family 'Maven Pro','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif
  transition all 150ms ease-out
  opacity 0

body.resolved
  opacity 1

.no-q-logo
  padding-top 30px

md-toolbar
  .title
    a
      color #fff
      text-decoration none
.md-button.sumo-green:not([disabled])
  background-color #5bc739
  &:hover
  &:active
  &:focus
    background-color #5bc739
.md-button.md-raised.sumo-green:not([disabled])
  &:hover
  &:active
  &:focus
    background-color #87d955
.cursor-pointer
  cursor pointer
.admin-edit
  position absolute
  top -5px
  right -15px
md-radio-button:hover
  background-color rgba(63,81,181,.05)
.mgn-bottom-5
  margin-bottom 5px
.mgn-top-5
  margin-top 5px


.no-q-msg
  .title
  .sub-title
    text-align center

md-grid-tile
  box-shadow 1px 1px 10px rgba(0,0,0,.3)
  border 2px solid #555
  border-radius 5px

md-grid-list md-grid-tile md-grid-tile-header
  background-color #555

.lh-20
  line-height 20px

.pad-left-10
  padding-left 10px

.valign-mid
  vertical-align middle

table.track
  border-left 1px solid #555
  border-right 1px solid #555
  border-bottom 1px solid #555
  border-spacing 0
  padding-top 3px
  &:first-child
    padding-top 0
tr.complete
  td.race
    opacity .6
td.track
  padding 5px
  font-size 1.2em
  font-weight bold
  color #fff
  background-color #555
td.race
  padding 5px
  padding-left 10px
  font-weight bold
td.wager
  padding 3px 5px 2px 20px
  border-bottom 1px solid rgba(0,0,0,.1)
  opacity 1
  &.complete
    font-weight normal
    opacity .8
    &.win
      background-color rgba(green, .2)
    &.lost
      background-color rgba(red, .05)

.width-100pct
  width 100%

.text-muted
  opacity .6
.float-right
  float right
.cursor-pointer
  cursor pointer
.race-result
  margin-left 10px
  background #006B7F
  padding 1px 3px
  border 1px solid transparent
  border-radius 5px
  color #fff
.footer
  text-align center
  margin 10px
.winner
  display inline
  margin-left 5px
  padding 2px 5px
  background-color green
  color #fff
  border-radius 3px
.track
  padding-top 3px
.text-center
  text-align center