body
  font-family 'Maven Pro','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif
  transition all 150ms ease-out
  opacity 0

body.resolved
  opacity 1

.bump-bottom
  margin-bottom 0

span.welcome
  font-size 80%
  text-transform uppercase

img.logo
  height 25px
  width 25px
  top 4px
  left 0
  position absolute

a
  color #222
  text-decoration none
  border-bottom 1px dashed #ddd
  &:visited
    color inherit
  &:hover
  &:active
  &:focus
    border-bottom 1px dotted #555

.no-q-logo
  padding-top 30px

md-toolbar
  .title
    a
      color #fff
      text-decoration none
.cursor-pointer
  cursor pointer
.admin-edit
  position absolute
  top -5px
  right -15px
md-radio-button:hover
  background-color rgba(63,81,181,.05)
.mgn-bottom-5
  margin-bottom 5px
.mgn-top-5
  margin-top 5px


.no-q-msg
  .title
  .sub-title
    text-align center

md-grid-tile
  box-shadow 1px 1px 10px rgba(0,0,0,.3)
  border 2px solid #555
  border-radius 5px

md-grid-list md-grid-tile md-grid-tile-header
  background-color #555

.lh-20
  line-height 20px

.pad-left-10
  padding-left 10px

.valign-mid
  vertical-align middle

table.track
  border-left 1px solid #555
  border-right 1px solid #555
  border-bottom 1px solid #555
  border-spacing 0
  padding-top 3px
  &:first-child
    padding-top 0
tr.complete
  td.race
    opacity .6
td.track
  padding 5px
  font-size 1.2em
  font-weight bold
  color #fff
  background-color #555
  &:hover
  &:focus
  &:active
    background-color lighten(#555, 10%)
    outline none !important
  .not-started
    font-size 80%
    padding 3px
    margin-left 10px
    border-radius 3px
    color #3197FF
  .finished
    font-size 80%
    padding 3px
    margin-left 10px
    border-radius 3px
    color #aaa
td.race
  padding 5px
  padding-left 10px
  font-weight bold
  &:hover
  &:focus
  &:active
    background-color darken(#fff, 3%)
    outline none !important
td.wager
  padding 3px 5px 2px 20px
  border-bottom 1px solid rgba(0,0,0,.1)
  opacity 1
  font-size 85%
  &.complete
  &.paid
  &.pending
    font-weight normal
    opacity .6
  &.placed
    background-color rgba(0, 123, 255, .05)
  &.canceled
    display none
  &.win
    background-color rgba(green, .05)
  &.lost
    background-color rgba(red, .05)
    .amount
      display inline
      margin-left 5px
      padding 2px 5px
      color darken(red, 20%)
      border-radius 3px
  &:hover
  &:focus
  &:active
    &.win
      background-color rgba(green, .1)
    &.lost
      background-color rgba(red, .1)
    .wager-timestamp-container
      .wager-timestamp-window
        margin-top -16px
.width-100pct
  width 100%

.text-muted
  opacity 0.6
.float-right
  float right
.float-left
  float left
.cursor-pointer
  cursor pointer
.race-result
  margin-left 10px
  padding 1px 3px
  border 1px solid #000
  border-radius 5px
  font-size 80%
.footer
  text-align center
  margin 10px
.winner
  display inline
  margin-left 5px
  padding 2px 5px
  background-color green
  color #fff
  border-radius 3px
.track
  padding-top 3px
.text-center
  text-align center
.mgn-right-5
  margin-right 5px
.mgn-right-7
  margin-right 7px
.mgn-left-5
  margin-left 5px
.winning-wager-icon
  height 8px
  width 8px
  background green
  margin 6px 5px 0 5px
  border-radius 5px
.position-relative
  position relative
.position-absolute
  position absolute
.y-center
  position absolute
  top 50%
  transform translateY(-50%)
.display-inline
  display inline
.wager-timestamp-container
  max-height 15px
  overflow-y hidden
  margin-top 3px
  position relative
  text-align right
  white-space nowrap
  .wager-timestamp-window
    position relative
    transition all 500ms ease-out
    &:hover
    &:focus
    &:active
      margin-top -16px
a.bookmarklet
  background-color #0070FF
  color #fff
  font-size 90%
  padding 3px 5px
  border-radius 3px
  border-bottom none !important
.presence-container
  position fixed
  bottom 0
  right 0
  left 0
  .presence-wrapper
    float right
    padding 5px 10px
    background rgba(255, 255, 255, 0.5)
    border-radius 5px
    .presence
      float right
      margin-right 8px
      border-radius 5px
      &:after
        content ''
        height 10px
        width 10px
        border-radius 5px
        position absolute
        background-color #ddd
      &.syncing:after
        background-color green
.i-m-syncing
  position fixed
  bottom 0
  left 0
  right 0
  margin 0
  padding 0
  height 5px
  background-color #ddd
  &.yes
    background-color green
  &.no
    background-color red
.race-mtp
  margin-left 10px
  .minutes
    padding 1px 3px
    border-radius 5px
    font-size 80%
    &.NOT_RUNNING
      background-color darken(blue, 20%)
      border 1px solid darken(blue, 30%)
      color #fff
    &.NOT_SOON
      background-color blue
      border 1px solid darken(blue, 10%)
      color #fff
    &.KINDA_SOON
      background-color green
      border 1px solid darken(green, 10%)
      color #fff
    &.SOON
      background-color yellow
      border 1px solid darken(yellow, 10%)
      color #555
    &.VERY_SOON
      background-color orange
      border 1px solid darken(orange, 10%)
      color #fff
    &.NOW
      background-color red
      border 1px solid darken(red, 10%)
      color #fff
    &.RUNNING
      background-color darken(red, 20%)
      color #fff
      border 1px solid darken(red, 30%)
