extends _layouts/master/_

append body-content
  .bet-overlay
  .bet-container
    iframe(src='https://m.twinspires.com', style='width:100%;height:100%;margin:0;padding:0;')
    .btn-bet
      div
        span.is-hidden &lt;&lt;
        span.is-shown &gt;&gt;
  #content(layout='row', flex, layout-margin='20', data-ng-controller='SlimWagersController as swc').bump-bottom
    md-content.width-100pct
      table(cellspacing='0', cellpadding='0').width-100pct
        tr(data-ng-repeat='track in swc.tracks | orderBy:["-nextRace.Status", "nextRace.Mtp", "nextRace.RaceStatus", "-nextRace.postTimestamp", "DisplayName"]')
          td
            .track-outer(data-ng-class='{finished: track.nextRace.Status.toLowerCase() == "closed"}')
              track(track='track')
              table(cellspacing='0', cellpadding='0', data-ng-hide='track.hide === undefined ? track.softHide : track.hide').width-100pct
                tr(data-ng-repeat='race in track.races | orderBy:["-id"]', data-ng-show='race.wagers')
                  td(data-ng-class='{final: !!race.wps}').race-cell
                    race(race='race', track='track')
                    table(cellspacing='0', cellpadding='0', data-ng-if='!(race.hide === undefined ? race.softHide : race.hide)').width-100pct
                      tr(data-ng-repeat='wager in race.wagers | orderBy:["timestamp"]')
                        td
                          div(class='wager-container')
                            wager(wager='wager')
              .clearfix
      - if (locals.showDebug)
        pre.code {{ _.omit(swc.tracks, ['races']) | json}}
    sync-status(status='swc.me.isSyncing')
    presence(presences='swc.presences', my-presence='swc.userInfo')
