extends _layouts/master/_

append body-content
  md-content
    table(cellspacing='0', cellpadding='0', data-ng-show='!mc.tracks || mc.tracks.length == 0').width-100pct
      tbody
        tr
          td.text-center
            span No bets are currently being synced.
    table(cellspacing='0', cellpadding='0', data-ng-show='mc.tracks.length > 0').width-100pct
      tbody
        tr(data-ng-repeat='track in mc.tracks | orderBy:timestamp')
          td
            table(cellspacing='0', cellpadding='0').width-100pct.track
              tbody
                tr(data-ng-click='track.hide = !track.hide').cursor-pointer
                  td.track
                    span {{track.DisplayName}} [ {{track.timestamp}} ]
                    .float-right
                      span(data-ng-show='track.hide')
                        i.fa.fa-angle-double-down
                      span(data-ng-hide='track.hide')
                        i.fa.fa-angle-double-up
                tr(data-ng-repeat='race in track.races | orderBy:id', data-ng-hide='track.hide')
                  td
                    table(cellspacing='0', cellpadding='0').width-100pct
                      tbody
                        tr(data-ng-class='{complete: !!race.result}')
                          td.race
                            span Race {{race.id}} [ {{race.timestamp}} ]
                            span(data-ng-show='race.result').race-result {{race.result}}
                        tr(data-ng-repeat='wager in race.wagers | orderBy:timestamp:true')
                          td.wager(data-ng-class='{ complete: wager.status == "PAID", pending: wager.status == "PENDING", placed: wager.status == "PLACED", win: wager.payoutAmount > 0, lost: (wager.payoutAmount == 0 && wager.status == "PAID") }')
                            gravatar(email='wager.email', size='20', round, title='{{wager.user.firstName + " " + wager.user.lastName}}').valign-mid
                            span.lh-20 &nbsp; {{wager.type.Name}} - {{wager.selections}}&nbsp;
                            span(data-ng-show='wager.payoutAmount == 0') {{wager.amount | currency:'$':2}}
                            span(data-ng-hide='wager.payoutAmount == 0').winner {{wager.amount | currency:'$':2}} / {{wager.payoutAmount | currency:'$':2}}
                            .float-right
                              span.ts(value='{{wager.timestamp}}') {{wager.timestamp | ago}} [ {{wager.timestamp}} ]
                              span(data-ng-show='false').hide-xs &nbsp;{{'#' + wager.id}}
    - if (process.env.NODE_ENV == 'local')
      pre.code {{mc.tracks | json}}
