extends _layouts/master/_

append body-content
  md-grid-list(md-cols-xs='1', md-cols-sm='2', md-cols-md='3', md-cols-gt-md='4', md-row-height-gt-md='1:1' md-row-height='2:2', md-gutter='12px', md-gutter-gt-sm='8px')
    md-grid-tile(data-ng-repeat='track in mc.tracks')
      md-grid-tile-header(flex)
        h3 {{track.name}}
      md-grid-tile-content(flex)
        md-list(layout='row', flex='100')
          div(flex='100', data-ng-repeat='race in track.races')
            md-subheader(md-no-sticky) Race {{race.id}}
            md-list-item(data-ng-repeat='wager in race.wagers').md-2-line
              gravatar(email='wager.email').md-avatar
              md-list-item-text
                h3 {{wager.amountDisplay}} {{wager.type}}
                p {{wager.selections}}
