extends _layouts/master/_

append body-content
  md-content
    table.width-100pct
      thead
        tr
          th
          th
          th
          th
      tbody
        tr(data-ng-repeat='track in mc.tracks | orderBy:timestamp:true')
          td(colspan='4')
            table.width-100pct.track
              tbody
                tr(data-ng-click='track.hide = !track.hide').cursor-pointer
                  td.track
                    span {{track.DisplayName}}
                    .float-right
                      span(data-ng-show='track.hide')
                        i.fa.fa-angle-double-down
                      span(data-ng-hide='track.hide')
                        i.fa.fa-angle-double-up
                tr(data-ng-repeat='race in track.races | orderBy:timestamp:true', data-ng-hide='track.hide')
                  td
                    table.width-100pct
                      tbody
                        tr
                          td.race
                            span Race {{race.id}}
                            span(data-ng-show='race.result').race-result {{race.result}}
                        tr(data-ng-repeat='wager in race.wagers | orderBy:timestamp:true')
                          td.wager
                            gravatar(email='wager.email', size='20', round).valign-mid
                            span.lh-20 &nbsp; {{wager.type.Name}} - {{wager.selections}}&nbsp;
                            span.text-muted {{wager.amountDisplay}}
                            .float-right.text-muted
                              span {{wager.timestamp | date:'mediumTime'}}
                              span &nbsp;{{'#' + wager.id}}
    - if (process.env.NODE_ENV == 'local')
      pre.code {{mc.tracks | json}}
