extends _layouts/master/_

append body-content
  md-content
    table.md-table(flex='100')
      thead
        tr
          th
          th
          th
          th
      tbody
        tr(data-ng-repeat='track in mc.tracks')
          td(colspan='4')
            table.md-table(flex='100')
              tbody
                tr
                  td {{track.name}}
                tr(data-ng-repeat='race in track.races')
                  td
                    table.md-table(flex='100')
                      tbody
                        tr
                          td Race {{race.id}}
                        tr(data-ng-repeat='wager in race.wagers')
                          td {{'#' + wager.id}} - {{wager.displayAmount}} {{wager.type}} - {{wager.selections}}
